<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="color:#999">
    <span style="font-size:20px;cursor:pointer;color:#f1f1f1;padding-right:12px" onclick="openNav()">&#9776;</span>
    <a class="navbar-brand" href="#">Pyxis</a>
    {% include "load.html" %}
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        </ul>
        <style>
            body {
                font-family: "Lato", sans-serif;
            }

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
        </style>
    </head>
    <body>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="nav-link" href="home">Home
                <span class="sr-only"></span>
            </a>
            <li class="nav-item {{ burndown }}">
                <a class="nav-link" href="burndown">Burndown</a>
            </li>
            <a href="sprint">Criar nova sprint</a>
        </div>


        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "400px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </div>
</nav> -->

<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary col-12">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>


    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown mega-dropdown active">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu </a>
                <div class="dropdown-menu mega-menu row z-depth-1 primary-color-dark" aria-labelledby="navbarDropdownMenuLink2">
                    <div class="row">
                        <div class="col-md-5 col-xl-3 sub-menu mt-5 mb-5">
                            <ol class="list-unstyled ml-4 mr-md-0 mr-4">
                                <li class="sub-title text-uppercase mt-sm"><a class="menu-item-2" href="/home">Home</a></li>
                                <li class="sub-title text-uppercase"><a class="menu-item-2" href="/sprint">New Sprint</a></li>
                            </ol>
                        </div>
                        <div class="col-md-4 col-xl-4">
                            <div class="row pr-4">
                                <div class="col-lg-4 mt-5 mb-4 clearfix d-none d-md-block">
                                    <!--Featured image-->
                                    <!-- <div class="view overlay mb-3 z-depth-1">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="First sample image">
                                        <div class="mask rgba-white-slight flex-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    <h4 class="mb-2"><a class="news-title-2" href="">List of all burndowns</a></h4>
                                    <p class="font-small text-uppercase white-text"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>July 17, 2017 / <i class="fa fa-comments-o px-1" aria-hidden="true"></i> 20</p> -->
                                </div>
                                <div class="col-lg-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                    <!--Featured image-->
                                    <div class="view overlay mb-3 z-depth-1">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="First sample image">
                                        <div class="mask rgba-white-slight flex-center">
                                            <p></p>
                                        </div>
                                    </div>
                                    <h4 class="mb-2"><a class="news-title-2" href="">List of all sprints</a></h4>
                                    <p class="font-small text-uppercase white-text"><i class="fa fa-clock-o pr-2" aria-hidden="true"></i>July 16, 2017 / <i class="fa fa-comments-o px-1" aria-hidden="true"></i> 46</p>
                                </div>
                                <div class="col-xl-4 mt-5 mb-4 clearfix d-none d-xl-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline">
            <div class="btn-group">
                <button class="btn btn-light-blue rounded" style="box-shadow: 0 0 0 " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-area-chart" aria-hidden="true"></i> Sprints</button>
                <div class="dropdown-menu">
                    {% set cont = 0 %}
                    {% for item in results %}
                    {% set cont = cont+1 %}
                    <a class='dropdown-item mr-5' href='/burndown/{{item.id}}'>{{cont}} - {{item.nome}}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/sprint">New sprint</a>
                </div>
            </div>
        </form>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

