<div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-bars"><div></div><div></div><div></div><div></div></div><style type="text/css">@keyframes lds-bars {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes lds-bars {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .lds-bars {
    position: relative;
  }
  .lds-bars div {
    position: absolute;
    width: 20px;
    height: 100px;
    top: 50px;
    -webkit-animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .lds-bars div:nth-child(1) {
    left: -5px;
    background: #005da4;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .lds-bars div:nth-child(2) {
    left: 65px;
    background: #3c99c7;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .lds-bars div:nth-child(3) {
    left: 140px;
    background: #b3cdda;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
  .lds-bars div:nth-child(4) {
    left: 215px;
    background: #ffffff;
  }
  .lds-bars {
    width: 23px !important;
    height: 23px !important;
    -webkit-transform: translate(-16px, -16px) scale(0.16) translate(16px, 16px);
    transform: translate(-16px, -16px) scale(0.16) translate(16px, 16px);
  }
  </style></div>