{% extends "./layout/main.html" %}

{% block title %}
    Burndown
{% endblock %}

{% block head %}
    <script src="/static/assets/dist/Chart.bundle.js"></script>
    <script src="/static/assets/dist/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h4 class='pt-5 d-flex justify-content-center'>{{nomeSprint}}</h4>
    
    <div class="container col-md-10 mb-md-5 pb-md-5">
        <div class="text-center d-flex justify-content-end">
            {% set parameters = {'style' : 'd-none d-md-block btn btn-primary col-3'} %}
            {% include "modals/modalProgress.html" %}
        </div>
        <span class="d-flex justify-content-center">
            <div class="chart-container col-12" style="">
                <canvas id="myChart"></canvas>
            </div>
        </span>
    </div>
    <a href='/progress/list/{{sprintId}}'>List progress</a>
{% endblock %}

{% block script %}
    <script>
        {% include 'chart.js' %}
    </script>
{% endblock %}
