{% extends "./layout/main.html" %}
{% block content %}

<p class="text-center text-nowrap" style="font-size:35px; color: green;">Burndown Management System</p>
<div style='height:100px' class="d-flex justify-content-center align-items-center ">
    <button class="btn btn-primary btn-lg" onclick="location.href='sprint'">Create new Sprint</button>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <img class="w-25 h-25" src="https://5.imimg.com/data5/WS/FD/MY-5514661/under-construction-sign-500x500.jpg">
</div>

{% endblock %}