<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    {{title}}
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class='input-group'>
                        <div class='container-fluid'>
                            <div>
                                <div class="form-group row d-flex justify-content-center">
                                    <label for='initialDate' class="col-sm-4 col-form-label">Start date</label>
                                    <div class='col-sm-6'>
                                        <input class="form-control col-sm-12 " id='initialDate' name='initialDate' type='date'>
                                    </div>
                                </div>
                                <div class="form-group row d-flex justify-content-center">
                                    <label for='dias' class="col-sm-4 col-form-label">Days</label>
                                    <div class='col-sm-6'>
                                        <input class="form-control col-sm-12" id='dias' name='dias' type='number' placeholder='Days'>
                                    </div>
                                </div>
                                <div class="form-group row d-flex justify-content-center">
                                    <label for='tasks' class="col-sm-4 col-form-label">Tasks</label>
                                    <div class='col-sm-6'>
                                        <input class="form-control col-sm-12" id='tasks' name='tasks' type='number' placeholder='Tasks'>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>

        </div>
    </div>
</div>
<script>
    document.getElementById('initialDate').setAttribute('value', '{{dateMoment}}')
</script> -->

<form action="" method="POST">
    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">New sprint</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fa fa-info prefix grey-text"></i>
                        <input class="form-control validate" id='nome' name='nome' type='text' required>
                        <label data-error="wrong" data-success="right" for="nome">Nome da Sprint</label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fa fa-calendar prefix grey-text"></i>
                        <input class="form-control validate" id='initialDate' name='initialDate' type='date' required>
                        <label data-error="wrong" data-success="right" for="initialDate"></label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fa fa-tasks prefix grey-text"></i>
                        <input type="number" id="tasks" name="tasks" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="tasks">Tasks</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fa fa-line-chart prefix grey-text"></i>
                        <input type="number" id="dias" name="dias" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="dias">Days</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-indigo">add
                        <i class="fa fa-plus ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSubscriptionForm">New sprint
        <i class="fa fa-area-chart" aria-hidden="true"></i>
    </button>
</div>

<script>
    document.getElementById('initialDate').setAttribute('value', '{{dateMoment}}')
</script>