<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    {{title}}
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class='input-group'>
                        <div class='container-fluid'>
                            <div>
                                <div class="form-group row d-flex justify-content-center">
                                    <label for='initialDate' class="col-sm-4 col-form-label">Start date</label>
                                    <div class='col-sm-6'>
                                        <input class="form-control col-sm-12 " id='initialDate' name='initialDate' type='date'>
                                    </div>
                                </div>
                                <div class="form-group row d-flex justify-content-center">
                                    <label for='dias' class="col-sm-4 col-form-label">Days</label>
                                    <div class='col-sm-6'>
                                        <input class="form-control col-sm-12" id='dias' name='dias' type='number' placeholder='Days'>
                                    </div>
                                </div>
                                <div class="form-group row d-flex justify-content-center">
                                    <label for='tasks' class="col-sm-4 col-form-label">Tasks</label>
                                    <div class='col-sm-6'>
                                        <input class="form-control col-sm-12" id='tasks' name='tasks' type='number' placeholder='Tasks'>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>

        </div>
    </div>
</div>
<script>
    document.getElementById('initialDate').setAttribute('value', '{{dateMoment}}')
</script> -->

<form action="" method="POST">
    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add progress</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-5">

                    <div class="form-group row d-flex justify-content-center">
                        <label for='date' class="col-sm-4 col-form-label">Date</label>
                        <div class='col-sm-8'>
                            <input class="form-control" id='date' name='date' type='date' required>
                        </div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label for='remaining' class="col-sm-4 col-form-label">Remaining</label>
                        <div class='col-sm-8'>
                            <input class="form-control" id='remaining' name='remaining' type='number' placeholder='Remaining tasks' required>
                        </div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label for='bugs' class="col-sm-4 col-form-label">Bugs</label>
                        <div class='col-sm-8'>
                            <input class="form-control" id='bugs' name='bugs' type='number' placeholder='Bugs' required>
                        </div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label for='extra' class="col-sm-4 col-form-label">Extra</label>
                        <div class='col-sm-8'>
                            <input class="form-control" id='extra' name='extra' type='number' placeholder='Extra tasks' required>
                        </div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label for='improvements' class="col-sm-4 col-form-label">Improvements</label>
                        <div class='col-sm-8'>
                            <input class="form-control d-flex justify-content-end" id='improvements' name='improvements' type='number' placeholder='Improvements' required>
                        </div>
                    </div>
                    <span class="d-flex justify-content-end">
                        <button class="btn btn-primary w-100" id='submit'>Save</button>
                    </span>

                </div>
            </div>
        </div>
    </div>
</form>

<div class="text-center d-flex justify-content-end">
    <button type="button" class="d-none d-md-block btn btn-primary col-3" data-toggle="modal" data-target="#modalSubscriptionForm">Add progress
        <i class="fa fa-area-chart" aria-hidden="true"></i>
    </button>
</div>

 

<script>
    document.getElementById('initialDate').setAttribute('value', '{{dateMoment}}')
</script>